<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Unknown</string>
	<key>Buffer Order</key>
	<array>
		<string>Main</string>
		<string>Time</string>
		<string>Stage</string>
		<string>Scenes</string>
		<string>Touch</string>
		<string>Action</string>
		<string>Mix</string>
		<string>GeeBee</string>
		<string>GeeBeeTrunk</string>
		<string>StudioIntro</string>
		<string>Play</string>
	</array>
	<key>Description</key>
	<string>No description available</string>
</dict>
</plist>
